.product_img {
  max-width: 12rem;
  min-height: 12rem;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(211, 210, 210);
  align-items: center;
  padding: 1.3rem;
}

.product:hover {
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*media Queries*/
@media only screen and (max-width: 1050px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 787px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 525px) {
  .products {
    grid-template-columns: 1fr;
  }
}
