.container {
  max-width: 1200px;
  margin: 5rem auto;
}
.details {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  height: 40rem;
}
.details_img {
  max-width: 30rem;
}
.price {
  color: rgb(157, 20, 20);
  font-weight: bold;
  font-size: 2rem;
}
.about_box {
  display: flex;
  flex-direction: column;
}
.about {
  padding-top: 1rem;
  font-weight: bold;
}
.about_description {
  max-width: 30rem;
  color: rgb(113, 110, 110);
}
.select_qty {
  display: grid;
  grid-template-columns: 30% 15% 15% 40%;
  align-items: center;
  border-bottom: 1px solid rgb(205, 200, 200);
  border-top: 1px solid rgb(205, 200, 200);
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.increment {
  border-bottom: 1px solid rgb(205, 200, 200);
  height: 40px;
  transition: 0.3s;
}
.increment:hover {
  background-color: rgb(154, 47, 154);
  color: white;
}
.decrement {
  height: 40px;
  transition: 0.3s;
}
.decrement:hover {
  background-color: rgb(154, 47, 154);
  color: white;
}
.buttons {
  border: 1px solid rgb(205, 200, 200);
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}
.qty {
  border-left: 1px solid rgb(205, 200, 200);
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.add_to_cart {
  background-color: transparent;
  border: none;
  height: 80px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
}
.add_to_cart:hover {
  background-color: rgb(154, 47, 154);
  color: white;
}
.back_btn {
  font-size: 1.2rem;
  padding: 1rem;
}
.back_btn a {
  color: rgb(154, 47, 154);
}
.back_btn a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* media queries */

@media only screen and (max-width: 1060px) {
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .details_img {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 420px) {
  .details_img {
    max-width: 15rem;
  }
  .select_qty {
    font-size: 15px;
  }
  .add_to_cart {
    font-size: 15px;
  }
  .qty {
    font-size: 15px;
  }
  .increment {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .decrement {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
