.slide_container {
  display: flex;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.slides_wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(207, 204, 204);
  max-width: 300px;
  transition: all 0.3s ease-out;
  font-family: 'Roboto Mono', monospace;
}
.slide span {
  font-weight: 600;
}
.slide_image {
  max-width: 10rem;
}
.overflow {
  overflow: hidden;
  margin-top: 5rem;
  max-width: 1200px;
  margin: 5rem auto 0 auto;
}
.trending {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.trending {
  font-family: 'Roboto Mono', monospace;
}
.arrows {
  gap: 0.5rem;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
}
.arrows svg:hover {
  scale: 1.1;
  cursor: pointer;
}
.slide:hover {
  border: 1px solid black;
  cursor: pointer;
}
@media only screen and (max-width: 320px) {
  .trending {
    flex-direction: column;
  }
}
